apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: ashu8169/myapp:afe70a189e1a662b46f8d828066d048fc80c95e4
        ports:
        - containerPort: 3000
