name: CI/CD with GitOps

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ashu8169/myapp:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ashu8169/myapp:${{ github.sha }}

      - name: Update Kubernetes deployment image
        run: |
          sed -i "s|image: .*|image: ashu8169/myapp:${{ github.sha }}|" k8s/deployment.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: update image to ${{ github.sha }}"
          git push
